.container,
body{
    height: 100vh;
    width: 100%;
    background: green;
}

.header {
    display: flex;
    height: 100px;
}


.card{
    background: rgb(255, 255, 255);
    width: 350px;
    border-radius: 8%;
    border: 5px black solid;
    margin: 0 auto;
}

.bodyOfCard{
    text-align: center;
    font-size: 7rem;
}


.icon {
    height: 100px;
    margin-left: 30px;
    font-size: 5rem;
    display: flex;
    margin-top: 20px;
}

#left {
    display: inline;
    margin-left: 273px;
}

.inner {
    display: flex;
    justify-content: center;
}